<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
  <div id="header">
    <h1>Project Issue Tracker</h1>
  </div>
    <div id="addProject">
      <form action="api/projects" method="POST">
        <input type="text" required="" id="projectName">
        <button type="submit" id="submitProject">Add Project</button>
      </form> 
    </div>
  <div id="main">
  </div>
    <!-- Your web-app is https, so your scripts need to be too -->
  <script src="/public/index.js"></script>
  </body>
</html>
