<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/issue.css">
  </head>
  <body>
    <div id="header">
      <h1><a href="/">Project Issue Tracker</a></h1>
    </div>    
    
    <div id="issues-main">
      
      <h2 id="namePlate"></h2>

      <div id="issues">
        
      </div>
      
      <h3 style="color: red; font-weight: bold; text-align: left">Click on an issue to update or delete it</h3>

      <div id="forms">
        <div> 
          <h3>Submit Issue</h3>
          <form id="submitIssue" class="border">
            <input type="text" name="issue_title" placeholder="*Title" style="width: 100px" required=''><br>
            <textarea type="text" name="issue_text" placeholder="*Text" style="width: 100px" required=''></textarea><br>
            <input type="text" name="created_by" placeholder="*Created by" style="width: 100px" required=''><br>
            <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px"><br>
            <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
            <button id="buttonPOST" type="submit">Submit Issue</button>
          </form>
        </div>
        
        <div>
          <h3>Update Issue</h3>
          <form id="updateIssue" class="border">
            <input type="text" name="_id" placeholder="*_id" style="width: 100px" required=''><br>
            <input type="text" name="issue_title" placeholder="(opt)Title" style="width: 100px"><br>
            <textarea type="text" name="issue_text" placeholder="(opt)Text" style="width: 100px"></textarea><br>
            <input type="text" name="created_by" placeholder="(opt)Created by" style="width: 100px"><br>
            <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px"><br>
            <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
            <label><input type="checkbox" name="open" value="closed" id="updateOpen"> Check to close issue</label><br>
            <button id="buttonPUT" type="submit">Submit Issue</button>
          </form>
        </div>
        
        <div> 
          <h3>Delete Issue</h3>
          <form id="deleteIssue" class="border">
            <input type="text" name="_id" placeholder="_id" style="width: 100px" required=''><br>
            <button id="buttonDELETE" type="submit">Delete Issue</button>
          </form>
        </div>
        
      </div>
    </div>
      
    <script src="/public/js/issue.js"></script>
  </body>
</html>