body{  
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  color: white;
  background: #111;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
#header{
background: #454851;
  padding: 10px 0;
  margin: 0;
  height: 8vh;
}

#header a{
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}


#main{
  margin: 15px 0 0 0;
  width: 100vw;
  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

#main a, #main a:active{
  color: white;
  text-decoration: none;
}
.projectDiv{
  background: #343434;
  width: 10vw;
  margin: 10px;
}
.projectDiv:hover{
  box-shadow: 0px 0px 3px 3px;
}

form{
  background: #df7500;
  width: 40vw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}


.closed {
  background-color: lightgrey;
}

.id {
  font-size: 10.5px;
}